/egova/db/mysql/*slow.log  /egova/log/mysql/mysqld.log{
        su root root
        dateext
        dateformat _%Y-%m-%d
        daily
        missingok
        rotate 15
        nocompress
        notifempty
        copytruncate
}