/egova/web/statgather/statGatherApp.out {
    su root root
    daily
    rotate 15
    dateext
    dateformat .%Y-%m-%d
    nocompress
    delaycompress
    missingok
    notifempty
    copytruncate
}