server {

  listen 8080;
  server_name localhost;
  charset utf-8;
  #access_log  /var/log/nginx/log/host.access.log  main;
  #limit_conn limitperip 50;

  set $new_cookie $http_cookie;
  if ($http_cookie ~ "(.*)(?:^|;)\s*theworld_client_none=[^;]+(.*)") {
      set $new_cookie $1$2;
  }

  location / {
    root /usr/local/openresty/nginx/html;
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /usr/local/openresty/nginx/html;
  }
  include /etc/nginx/conf.d/*.location;
}
