{
	"users":	[{
			"user":	"{{ cetus_user }}",
			"client_pwd":	"{{ password }}",
			"server_pwd":	"{{ password }}"
		},{
		"user":	"{{ root_user }}",
		"client_pwd":	"{{ password }}",
		"server_pwd":	"{{ password }}"
	}]
}
// 其中user的值是用户名；cient_pwd的值是前端(业务系统)连接Cetus的密码；server_pwd的值是Cetus登录后端mysql的密码。