{
  "teamId":"system-administrator-team",
  "tenantId":"government",
  "categoryId":"test_category",
  "categoryName":"test_category",
  "datasource": {
    "id":"{{ ds_name }}",
    "name":"{{ ds_name }}",
    "type":"{{ ds_type }}",
    "url":"{{ ds_url }}",
    "user":"{{ ds_user }}",
    "password":"{{ ds_password }}"
  },
  "generate":"false",
  "importWorkFlow":"true",
  "backup":"true",
  "importGrant":"true",
  "assetOverrideType":"2"
}