location /egovagisserver {
    proxy_pass http://egovagisserver/egovagisserver;
    proxy_redirect default;
    proxy_connect_timeout 5;
    send_timeout 10;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header Cookie $new_cookie;
    proxy_set_header Range $http_range;
    proxy_set_header If-Range $http_if_range;
    add_header Cache-Control max-age=0;
    if ( $uri ~ "\.(gif|jpg|jpeg|bmp|png|ico|zip|pdf|svg|mp3|swf|cur|woff|woff2|eot|ttf|mp3|mp4|swf|webm)$" ){
      add_header Cache-Control max-age=3600000;
    }
    if ( $uri ~ "\.(js|css|txt)$" ){
      add_header Cache-Control max-age=3600;
    }
    client_max_body_size  100m;
}