#!/bin/bash

JAVA_SERVER_OPTS=" {{ microservice[app_type][app_name].environment.jvm_opts }} \
-Dfile.encoding=UTF-8 \
{{ ms["env"]["custom"][app_type]["jvm_options"] | default("") }} \
-Dlog4j2.formatMsgNoLookups=true \
-XX:+HeapDumpOnOutOfMemoryError  -XX:HeapDumpPath={{ app_root_dir }}/{{ web_app_dir }}/jvm -XX:ErrorFile={{ app_root_dir }}/{{ web_app_dir }}/jvm \
-jar {{ app_root_dir }}/{{ web_app_dir }}/{{ microservice[app_type][app_name].jar_name }} \
--SERVER_PORT={{ web_app_port }} \
--ROOT_DIR={{ app_root_dir }}/{{ web_app_dir }}/ \
--LOG_LEVEL=INFO \
{% for depend in microservice[app_type][app_name].depends %}
{% if depend.type == 'mysql' %}
{%- set db_prefix = 'cetus' if 'cetus' in depend.depend_key else 'mysql' %}
{% if depend.sub_type == 'biz' %}
{% set mysql_config = vars[db_prefix][depend.depend_key] %}
--DATASOURCE_DRIVER={{ datasource_driver }} \
--DATASOURCE_URL=jdbc:mysql://{{ vars[db_prefix][depend.depend_key].ip }}:{{ vars[db_prefix][depend.depend_key].port }}/{{ depend.database }}?serverTimezone=Asia/Shanghai&allowMultiQueries=true&autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=utf8&useSSL=false&connectTimeout=60000&socketTimeout=3600000&allowPublicKeyRetrieval=true \
--DATASOURCE_USERNAME={{ mysql_config | get_username | encrypt | enc }} \
--DATASOURCE_PASSWORD={{ mysql_config | get_password | encrypt | enc }} \
{% if app_type == 'evaluation' or app_type == 'export' %}
{% set mysql_config_biz = vars[db_prefix][depend.depend_key] %}
--STAT_DATASOURCE_URL=jdbc:mysql://{{ vars[db_prefix][depend.depend_key].ip }}:{{ vars[db_prefix][depend.depend_key].port }}/{{ depend.database }}?serverTimezone=Asia/Shanghai&allowMultiQueries=true&autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=utf8&useSSL=false&connectTimeout=60000&socketTimeout=3600000&allowPublicKeyRetrieval=true \
--STAT_DATASOURCE_USERNAME={{ mysql_config_biz | get_username | encrypt | enc }} \
--STAT_DATASOURCE_PASSWORD={{ mysql_config_biz | get_password | encrypt | enc }} \
{% endif %}
{% endif %}
{% if depend.sub_type == 'stat' and app_type != 'evaluation' and app_type != 'export' %}
{% set mysql_config_stat = vars[db_prefix][depend.depend_key] %}
--STAT_DATASOURCE_URL=jdbc:mysql://{{ vars[db_prefix][depend.depend_key].ip }}:{{ vars[db_prefix][depend.depend_key].port }}/{{ depend.database }}?serverTimezone=Asia/Shanghai&allowMultiQueries=true&autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=utf8&useSSL=false&connectTimeout=60000&socketTimeout=3600000&allowPublicKeyRetrieval=true \
--STAT_DATASOURCE_USERNAME={{ mysql_config_stat | get_username | encrypt | enc }} \
--STAT_DATASOURCE_PASSWORD={{ mysql_config_stat | get_password | encrypt | enc }} \
{% endif %}
{% endif %}
{% if depend.type == 'redis' %}
{% set redis_config = redis[depend.depend_key] %}
--REDIS_URL={{ redis_config.ip }} \
--REDIS_PORT={{ redis_config.port }} \
--REDIS_DATABASE={{ redis_database }} \
--REDIS_PASSWORD={{ redis_config | get_password | encrypt | enc }} \
{% endif %}
{% if depend.type == 'kafka' %}
--KAFKA_ADDRESS={{ kafka[depend.depend_key].ip }}:{{ kafka[depend.depend_key].port }} \
{% endif %}
{% if depend.type == 'zookeeper' %}
--ZK_ENABLED=true \
--ZK_ADDRESS={{ zookeeper[depend.depend_key].ip }}:{{ zookeeper[depend.depend_key].port }} \
--ZK_DIGEST=egova:5EKOpn+iKC+GcPC52dYhubSNjnE= \
{% endif %}
{% if depend.type == 'elasticsearch' %}
{% set es_config = elasticsearch[depend.depend_key] %}
--ES_ADDRESS={{ es_config.ip }}:{{ es_config.port }} \
--ES_USERNAME={{ es_config | get_username | encrypt | enc }} \
--ES_PASSWORD={{ es_config | get_password | encrypt | enc }} \
{% endif %}
{% if depend.type == 'minio' %}
{% set minio_config = minio[depend.depend_key] %}
--MINIO_ENDPOINTS=http://{{ minio_config.ip }}:{{ minio_config.port }} \
--MINIO_ACCESS={{ minio_config | get_access_key | encrypt | enc }} \
--MINIO_SECRET={{ minio_config | get_secret_key | encrypt | enc }} \
--MINIO_BUCKET={{ depend.bucket_name }} \
--BUCKET_NAME={{ depend.bucket_name }} \
--MINIO_PROXY=http://{{ minio_config.ip }}:{{ minio_config.port }} \
{% endif %}
{% if depend.type == 'postgresql' %}
{% set pg_config = postgresql[depend.depend_key] %}
--PG_URL={{ pg_config.ip }}:{{ pg_config.port }}/{{ depend.database }} \
--PG_USERNAME={{ pg_config | get_username | encrypt | enc }} \
--PG_PASSWORD={{ pg_config | get_password | encrypt | enc }} \
{% endif %}
{% if depend.type == 'microservice' %}
{% if depend.sub_type == 'eureka' %}
--EUREKA_ENABLE=true \
--EUREKA_URL=http://eGovaEureka%402023:eGovaEureka%402023@{{ microservice.eureka[depend.depend_key].ip }}:{{ microservice.eureka[depend.depend_key].server_port }}/eureka \
{% endif %}
{% if depend.sub_type == 'httpfileservice' %}
--HTTP_FILE_ADDRESS=http://{{ microservice.httpfileservice[depend.depend_key].ip }}:8087/HttpFileServer \
{% endif %}
{% endif %}
{% if depend.type == 'nacos' %}
--NACOS_ENABLE=true \
--NACOS_URL={{ nacos[depend.depend_key].ip }}:{{ nacos[depend.depend_key].port }} \
--NACOS_NAMESPACE={{ depend.space_name | default("egova") }} \
{% set nacos_config = nacos[depend.depend_key] %}
{% set nacos_username = nacos_config | get_username %}
{% set nacos_password = nacos_config | get_password %}
--NACOS_USERNAME={{ (nacos_username if nacos_username else "QakXcPMjEX") | encrypt | enc }} \
--NACOS_PASSWORD={{ (nacos_password if nacos_password else "tsEKh9a82C") | encrypt | enc }} \
{% endif %}
{% if depend.type == 'usercenter_redis' %}
{% set uc_redis_config = redis[depend.depend_key] %}
--TOKEN_REDIS_URL={{ uc_redis_config.ip }} \
--TOKEN_REDIS_PORT={{ uc_redis_config.port }} \
--TOKEN_REDIS_DATABASE={{ depend.database }} \
--TOKEN_REDIS_PASSWORD={{ uc_redis_config | get_password | encrypt | enc }} \
{% endif %}
{% if depend.type == 'TDengine' %}
{% set td_config = TDengine[depend.depend_key] %}
--TD_URL=jdbc:TAOS-RS://{{ td_config.ip }}:{{ td_config.port }}/trace \
--TD_USERNAME={{ td_config | get_username | encrypt | enc }} \
--TD_PASSWORD={{ td_config | get_password | encrypt | enc }} \
{% endif %}
{% if depend.type == 'TDengine3' %}
{% set td3_config = TDengine3[depend.depend_key] %}
--TD_VERSION=3 \
{% if depend.sub_type is defined and depend.sub_type == 'websocket' %}
--TD_URL=jdbc:TAOS-WS://{{ td3_config.ip }}:{{ td3_config.port }}/{{ depend.database }} \
{% else %}
--TD_URL=jdbc:TAOS-RS://{{ td3_config.ip }}:{{ td3_config.port }}/{{ depend.database }} \
{% endif %}
--TD_USERNAME={{ td3_config | get_username | encrypt | enc }} \
--TD_PASSWORD={{ td3_config | get_password | encrypt | enc }} \
{% endif %}
{% endfor %}
{{ ms["env"]["custom"][app_type]["jar_options"] | default("") }} \
{% if microservice[app_type][app_name].url.backend  is not none and microservice[app_type][app_name].url.backend != 'eUrbanMIS/itemlistserver/' and microservice[app_type][app_name].url.backend != 'ywtg/perceptionserver/' %}
--server.servlet.context-path=/{{ microservice[app_type][app_name].url.backend }} \
{% endif %}
"
