-- 此文件应该放在 xuanzang-db.tar 中，一键部署脚本中的文件为备份
{% macro get_ip(host_info) %}
{%- set master = host_info.hosts.master if host_info is defined and host_info.hosts is defined else None %}
{%- set ip = hostvars[master]['ansible_ssh_host'] if master and master in hostvars and 'ansible_ssh_host' in hostvars[master] else '127.0.0.1'  %}
{{ ip }}
{%- endmacro -%}

{%- set gisserver_ip = get_ip(ip_web_gisserver) -%}

update gis_vector_service set url='http://{{ gisserver_ip }}:8080/egovagisserver/service/urbanlayer/' where id = 7;