{
"registry-mirrors": ["https://docker.mirrors.ustc.edu.cn"],
"insecure-registries":["192.168.101.40:30004","base.egova.com.cn:30054"],
"bip": "169.254.125.1/24",
"default-address-pools": [
    {"base":"169.254.0.0/16","size":24},
    {"base":"169.253.0.0/16","size":24},
    {"base":"169.252.0.0/16","size":24},
    {"base":"169.251.0.0/16","size":24},
    {"base":"169.250.0.0/16","size":24}
  ],
 "data-root": "/egova/data/docker"
}