/egova/log/redis/redis.log {
        su root root
        dateext
        dateformat .%Y-%m-%d
        weekly
        missingok
        rotate 7
        nocompress
        notifempty
        copytruncate
}