#!/bin/bash --login

shopt -s expand_aliases

FLINK_JOB_OPTS="{{ microservice[app_type][app_name]["flink_job"].jvm_options }} -Dlog4j2.formatMsgNoLookups=true \
{% if 'kafka' in microservice[app_type][app_name]["flink_job"].depends %}
-DKAFKA_ADDRESS='{{ kafka[kafka_key].ip }}:{{ kafka[kafka_key].port }}' \
-DKAFKA_GROUP='{{ microservice[app_type][app_name]["flink_job"].kafka_group }}' \
{% endif %}
{% if 'elasticsearch' in microservice[app_type][app_name]["flink_job"].depends %}
-DES_ADDRESS='http://{{ elasticsearch[elasticsearch_key].ip }}:{{ elasticsearch[elasticsearch_key].port }}' \
-DES_USERNAME='{{ elasticsearch[elasticsearch_key].username }}' \
-DES_PASSWORD='{{ elasticsearch[elasticsearch_key].password }}' \
{% endif %}
-DFLINK_PARALLELISM={{ microservice[app_type][app_name]["flink_job"].parallelism }} \
-DFLINK_MAX_PARALLELISM={{ microservice[app_type][app_name]["flink_job"].max_parallelism }} \
-jar {{ app_root_dir }}/{{ web_app_dir }}/{{ microservice[app_type][app_name]["flink_job"].jar_name }}"